.todo-form {
	width: 27rem !important;
}

.checked {
	text-decoration: line-through;
	color: #707070;
}

.notChecked {
	text-decoration: none;
}

Input {
	color: black !important;
	&:focus {
		outline: none;
	}
}
